Repository sonicaria/devcontainer: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:prettier, npm run format:biome

ci: add consistent styling in devcontainer
  .lintstagedrc.json
  COPY-THIS-TO-ROOT/.husky/commit-msg
  COPY-THIS-TO-ROOT/.husky/pre-commit
  COPY-THIS-TO-ROOT/.husky/pre-push
  COPY-THIS-TO-ROOT/.lintstagedrc.json
  COPY-THIS-TO-ROOT/.prettierignore
  COPY-THIS-TO-ROOT/.prettierrc
  COPY-THIS-TO-ROOT/biome.json
  COPY-THIS-TO-ROOT/commitlint.config.ts
  COPY-THIS-TO-ROOT/deny.toml
  COPY-THIS-TO-ROOT/devcontainer.json
  COPY-THIS-TO-ROOT/docker-compose.yml
  Dockerfile
  README.md
  package.json
Due: npm run format:prettier, npm run format:biome

ci: source for npm styling tools
  Dockerfile
Due: none

dev: update files to add
  COPY-THIS-TO-ROOT/.vscode/settings.json
  COPY-THIS-TO-ROOT/.vscode/tasks.json
Due: npm run format:prettier

chore: update devcontainer
  COPY-THIS-TO-ROOT/.devcontainer/devcontainer.json
  COPY-THIS-TO-ROOT/.devcontainer/docker-compose.yml
  COPY-THIS-TO-ROOT/.gitignore
  COPY-THIS-TO-ROOT/.husky/commit-msg
  COPY-THIS-TO-ROOT/.husky/pre-commit
  COPY-THIS-TO-ROOT/.husky/pre-push
  COPY-THIS-TO-ROOT/.lintstagedrc.json
  COPY-THIS-TO-ROOT/.vscode/settings.json
  COPY-THIS-TO-ROOT/.vscode/tasks.json
  COPY-THIS-TO-ROOT/Cargo.toml
  COPY-THIS-TO-ROOT/deny.toml
  COPY-THIS-TO-ROOT/package.json
  Dockerfile
Due: npm run format:prettier

ci: lock meta
  Dockerfile
Due: none

feat: add .husky hooks
  .gitignore
  COPY-THIS-TO-ROOT/.husky/commit-msg
  COPY-THIS-TO-ROOT/.husky/pre-commit
  COPY-THIS-TO-ROOT/.husky/pre-push
  package-lock.json
  package.json
Due: npm run format:prettier

format docs
  README.md
Due: npm run format:prettier

ci: remove npm and lock mold version
  Dockerfile
Due: none

Update Dockerfile
  Dockerfile
Due: none

lock rust packages
  Dockerfile
Due: none

fix: use no version lock for cargo binstall command
  Dockerfile
Due: none

chore: cleanup mold repo after compile
  Dockerfile
Due: none

chore: revert cleanup mold build artifacts
  Dockerfile
Due: none

ci: add timeout
  .github/workflows/docker-publish.yml
Due: none

ci: update devcontainer
  Dockerfile
Due: none

Path conditions:
  npm run format:prettier: any of: *.{html,css,webc,vue,json,jsonc,md}
  npm run format:biome: any of: *.{js,ts,jsx,tsx}
